.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .content {
        padding: 1.5rem;
    }
}